<!DOCTYPE html>
<html>
  <head>
    <title>FullStackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('session/octopus.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
      <script type="text/javascript">
        window.octopusURL = "<%= image_url('session/octopus.png') %>";
      </script>
      <script>
        window.errorPage = "<%= image_url('errorPage/404page.png') %>";
      </script>
      
    <%= yield %>
  </body>
</html>
